<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	   	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Spring Boot x MongoDb</title>
	   	<meta name="description" content="Index">
	   	<meta name="author" content="Mitrais">
	   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	   	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	   	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	   	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	    <link rel="stylesheet" href="@{/css/style.css}" />
    </head>
    <body>
	    <div class="mdl-layout mdl-js-layout">
	    	<header class="mdl-layout__header mdl-layout__header--scroll">
			    <div class="mdl-layout__header-row">
			      <!-- Title -->
			      <span><a class="mdl-navigation__link mdl-layout-title" th:href="@{/}">Spring Boot x MongoDb</a></span>
			      <!-- Add spacer, to align navigation to the right -->
			      <div class="mdl-layout-spacer"></div>
			      <nav class="mdl-navigation">
			      	<div th:if="${currentUser == null}">
				      	<a class="mdl-navigation__link" th:href="@{/login}">Log in</a>			      	
			      	</div>
			      	<div th:if="${currentUser}">
			      		<a class="mdl-navigation__link" th:text="${fullName}"></a>
			      		<form action="#" th:action="@{/logout}" method="POST">
<!--  			
							<input type="hidden"
								   name="${_csrf.parameterName}"
								   value="${_csrf.token}" />
-->		    				
		    				<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Logout</button>
						</form>
			      	</div>
			      </nav>
			    </div>
			</header>
			<div class="mdl-layout__drawer">
			    <span>Spring Boot x MongoDb</span>
			    <nav class="mdl-navigation">
			    </nav>
			</div>
	    	<main class="mdl-layout__content">
			    <div class="page-content">
			    	<div layout:fragment="page_content"></div>
				</div>
			</main>
	    </div>
        <!-- /.container -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
		</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
        <th:block layout:fragment="scripts">
		</th:block>
    </body>
</html>